@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
}
body {
  background-color: #ccc;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  flex-direction: column;
}
.header h1 {
  text-align: center;
}
.box {
  margin: 35px;
}

.btn {
  border: 1px solid #000;
  border-radius: 5px;
  height: 75px;
  margin: 2px;
  width: 75px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
.btn:disabled {
  color: #000;
  cursor: no-drop;
}
.result,
.reset {
  text-align: center;
  font-size: 25px;
}
#reset {
  border: 1px solid #000;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 20px;
  margin: 35px;
  transition: all 0.5s ease-in-out;
}
#reset:hover {
  color: #ccc;
  background-color: #000;
}
